<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46897627675-cd7cq708lqu1u9b3egqchje6ihsg66i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46897627675-cd7cq708lqu1u9b3egqchje6ihsg66i4</string>
	<key>API_KEY</key>
	<string>AIzaSyA_AvwhnrgtKtHbzjiiWgsEjwCcC_d_Di8</string>
	<key>GCM_SENDER_ID</key>
	<string>46897627675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HelloM.AnswerBook</string>
	<key>PROJECT_ID</key>
	<string>answerbook-f4a2c</string>
	<key>STORAGE_BUCKET</key>
	<string>answerbook-f4a2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46897627675:ios:741c88c0e9ecd6a1422ebe</string>
	<key>DATABASE_URL</key>
	<string>https://answerbook-f4a2c.firebaseio.com</string>
</dict>
</plist>